#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
#repo --name=repoid [--baseurl=<url>|--mirrorlist=url] [options]
repo --name=EPEL --baseurl=https://download.fedoraproject.org/pub/epel/7/x86_64/
repo --name="CentOS" --baseurl=http://mirror.it.ubc.ca/centos/7/os/x86_64/
# Use CDROM installation media
cdrom
# Use graphical install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
reboot

# Network information
network --bootproto=dhcp --ipv6=auto --activate
network --hostname=basebox.bcit.local

# Root password
rootpw --iscrypted $6$LircQNSBdfo$/hSzBFDzBrH4rST9eCkBTJ2vFVLZ5elYjNb/CuoKm4zOf8rVOz2Q0Bq6sEp91QP6Bo8qsSAMiMfCTxMB6B5Gg/
user --name=admin --password=$6$gydiw35m$Y8wh9N/W9mdG/8P62/AIcRTpCGEm8pi/0nIZLAA/AP/fugkFNsxADzdRHRlgLYBK2PGGTYyZIbRMhLvhOxtLp1 --iscrypted --gecos="admin" --groups="wheel"

# System services
services --disabled="chronyd"
# System timezone
timezone America/Vancouver --isUtc --nontp
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
kexec-tools
epel-release
git
mongodb-server
nginx
nodejs

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
sed -i 's/^#\s*\(%wheel\s*ALL=(ALL)\s*NOPASSWD:\s*ALL\)/\1/' /etc/sudoers
sed -i 's/^\(Defaults    requiretty\)/#\1/' /etc/sudoers
%end